.title-info {
    color: var(--font-basic-black) !important;
    font-size: 1.5em !important;
}
.chapter-title {
    margin: 10px;
    display: none;
}
.chapter-title h2 {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}
.article-title {
    margin: 15px 0 5px 0;
}
.article-title h3 {
    font-size: 1.4em;
    font-weight: 400;
}
.chapter-detail {
    font-size: 1.1em;
}
.detail {
    margin: 0 5px;
}