{% extends "base.html" %}

{% block media %}
<style>
    .content-body-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #page-container {
        background: #FFF !important;
    }
    footer {
        background: #FFF !important;
    }
    .title-div {
        display: none;
    }
    #content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; /* 화면 전체 높이를 사용하여 중앙에 정렬 */
    }
    #content-body {
        text-align: center;
    }
    #content-body p {
        margin-top: 0;
        font-family: Pretendard;
        color: #17171B;
        font-size: 20px;
    }

    .page-btn {
        width: 354px;
        background: #5C95D9;
        border-radius: 10px;
        margin: auto;
    }

    .page-btn:hover {
        cursor: pointer;
    }

    .page-text {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

{% endblock %}

{% block body %}
    <p>{{ _('비밀번호가 성공적으로 변경되었습니다!') }}</p>

    <div class="page-btn">
        <a href="{{ url('auth_login')}}">
            <div class="page-text">로그인 하러 가기</div>
        </a>
    </div>
        
{% endblock %}

