{% extends "base.html" %}

{% block media %}
    <style>
        #page-container {
            background: #FFF !important;
        }
        footer {
            background: #FFF !important;
        }
        #content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh !important;
            margin-top: 0px !important;
            margin: auto;
            width: 1040px;
        }
        .content-body-box {
            min-height: 100% !important;
            margin-bottom: 70px;
        }
        #content-body {
            width: 100% !important;
            padding-bottom: 0px;
        }
        .title-box {
            display: none;
        }
        .centered-form {
            max-width: 100%;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            text-align: center;
        }
        .centered-form h2 {
            margin-bottom: 20px;
            font-size: 24px;
        }
        .form-area {
            width: 354px;
            display: flex;
            flex-direction: column;
            background-color: white;
            border: none;
            gap: 10px;
            margin: 0 auto;
        }
        .form-area .password-rule {
            border-radius: 8px;
            border: 1px solid #5C95D9;
            text-align: left;
            margin-bottom: 10px;
            cursor: pointer;
            /* margin-left: 10px; */
        }
        .form-area .password-rule p {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding-left: 10px;
            color: #5C95D9;
            margin: 0;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .form-area .password-rule p:hover {
            color: #5C95D9;
        }
        .form-area .password-rule ul {
            margin-block-start: 5px;
            margin-block-end: 5px;
            padding-inline-start: 20px;
            display: none;
            list-style: circle;
            margin-bottom: 10px;
        }
        .form-area .password-rule ul li {
            font-size: 14px;
            margin-top: 5px;
        }
        .centered-form .form-area .django-as-table {
            width: 100%;
            margin-bottom: 15px;
        }
        .centered-form .form-area .django-as-table tr th {
            display: none;
        }
        .centered-form .form-area .django-as-table tr td input {
            padding: 10px 10px 10px 16px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 8px;
            width: 100%;
            height: 46px;
            box-sizing: border-box;
            font-family: "Pretendard";
        }
        .centered-form .form-area .django-as-table tr td input[name="old_password"], 
        .centered-form .form-area .django-as-table tr td input[name="new_password1"],
        .centered-form .form-area .django-as-table tr td input[name="new_password2"]
        {
            margin-bottom: 6px;
        }

        .centered-form .form-area .django-as-table tr td input[name="old_password"]:hover, 
        .centered-form .form-area .django-as-table tr td input[name="new_password1"]:hover,
        .centered-form .form-area .django-as-table tr td input[name="new_password2"]:hover
        {
            box-shadow: none;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }

        .centered-form .form-area .django-as-table tr td input[name="old_password"]:focus, 
        .centered-form .form-area .django-as-table tr td input[name="new_password1"]:focus,
        .centered-form .form-area .django-as-table tr td input[name="new_password2"]:focus
        {
            box-shadow: none;
            border-color: #9FCDF2;
            outline: 0;
        }

        .centered-form .form-area .django-as-table .helptext {
        }
        .centered-form .form-area .django-as-table .helptext ul {
            padding-inline-start: 10px;
            border: 1px solid var(--border-color);
            list-style: circle;
            display: none;
        }
        .centered-form .form-area .submit-bar {
            background: none;
            background-color: #5C95D9;
            display: block;
            border-radius: 8px;
            border: 1px solid #5C95D9;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            line-height: 1.5;
            height: 40px;
            box-sizing: border-box; /* 패딩과 테두리가 총 크기에 포함되도록 설정 */
            font-family: "Pretendard";
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .centered-form .form-area .submit-bar:hover {
            background-color: #5288C8;
            color: #FAFAFA;        
        }
        .errorlist{
            display: none;
        }
        .exclamation-list {
            list-style-type: none;
            padding-left: 0;
            margin:0px;
        }
    
        .exclamation-list li {
            position: relative;
            padding-left: 20px;
            margin-bottom: 5px;
        }
    
        .exclamation-list li::before {
            content: "\f06a"; /* Font Awesome의 느낌표 아이콘 */
            font-family: FontAwesome;
            position: absolute;
            left: 0;
            color: red;
        }

        
    </style>
{% endblock %}

{% block js_media %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var oldPasswordInput = document.querySelector('input[name="old_password"]');
        var newPassword1Input = document.querySelector('input[name="new_password1"]');
        var newPassword2Input = document.querySelector('input[name="new_password2"]');

        if (oldPasswordInput) {
            oldPasswordInput.placeholder = "{{ _('기존 비밀번호') }}";
        }
        if (newPassword1Input) {
            newPassword1Input.placeholder = "{{ _('새 비밀번호') }}";
        }
        if (newPassword2Input) {
            newPassword2Input.placeholder = "{{ _('새 비밀번호 다시 입력') }}";
        }

        // 비밀번호 규칙 목록 생성
        var passwordRuleList = document.createElement('ul');
        passwordRuleList.classList.add('exclamation-list');

        passwordRuleList.style.display = "none";
        // 비밀번호 규칙 목록을 올바른 <td>에 삽입
        var newPassword1Td = newPassword1Input.closest('td');
        newPassword1Td.appendChild(passwordRuleList);


        var passwordField = document.querySelector('input[name="new_password1"]');
        
        var validatePasswordUrl = '{{ validate_password_url }}';  // 템플릿 변수로 URL 설정

        newPassword1Input.addEventListener('input', function() {
            var password = newPassword1Input.value;
            var xhr = new XMLHttpRequest();
            passwordRuleList.style.display = "block";
            passwordRuleList.style.color="red";
            xhr.open('POST', validatePasswordUrl, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    console.log("AJAX 응답 상태 코드:", xhr.status);  // 로그 추가
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var errors = response.errors;
                        passwordRuleList.innerHTML = '';
                        if (errors.length > 0) {
                            errors.forEach(function(error) {
                                var li = document.createElement('li');
                                li.textContent = error;
                                passwordRuleList.appendChild(li);
                            });
                        }
                    } else {
                        console.error("AJAX 요청 오류:", xhr.responseText);  // 오류 로그 추가
                    }
                }
            };
                xhr.send(JSON.stringify({password: password}));
            });
        var passwordMatchList = document.createElement('ul');
        passwordMatchList.classList.add('exclamation-list');
        newPassword2Input.parentNode.appendChild(passwordMatchList);

        newPassword2Input.addEventListener('input', function() {
            passwordMatchList.innerHTML = ''; // 기존 메시지 초기화
            if (newPassword2Input.value !== newPassword1Input.value) {
                var li = document.createElement('li');
                li.textContent = '비밀번호가 일치하지 않습니다.';
                li.style.color="red";
                passwordMatchList.appendChild(li);
            }
        });

        var firstErrorList = document.querySelector('td > ul.errorlist');
        if (firstErrorList) {
            var parentTd = firstErrorList.parentNode;
            var inputField = parentTd.querySelector('input[name="old_password"]');
            parentTd.removeChild(firstErrorList);
            parentTd.insertBefore(firstErrorList, inputField.nextSibling);
        }
        var errorLists = document.querySelectorAll('.errorlist');
        errorLists[0].style.display = "block";
        errorLists[0].style.color = "red";
        errorLists[0].classList.add('exclamation-list');
    });
</script>
{% endblock %}

{% block body %}
    <div class="centered-form">
        <h2>비밀번호 변경</h2>
        <form action="" method="post" class="form-area">
            {% if request.session.password_pwned %}
                <h4>{{ (_('We found your password in [a database of compromised passwords][0].') + '\n\n  [0]: https://haveibeenpwned.com/Passwords')|markdown('default', strip_paragraphs=True) }}
                    {{ _('To protect your account, we are requiring you to change your password to a more secure password.') }}</h4>
            {% endif %}
            {% csrf_token %}
            <table border="0" class="django-as-table">{{ form.as_table() }}</table>
            
            <button class="submit-bar" type="submit">{{ _('Change Password') }}</button>
        </form>
    </div>
{% endblock %}
