{% extends "base.html" %}

{% block media %}
<style>
    #content .title {
        text-align: center;
        padding-top: 35px;
    }
    #page-container {
        background: #FFF !important;
    }
    footer {
        background: #FFF !important;
    }
    .message-container {
        border-radius: 5px;
        margin: 20px;
    }
    .message-text {
        font-size: 18px;
        color: #333;
        text-align: center;
    }
</style>

{% endblock %}
{% block body %}
    <div class="message-container">
        <p class="message-text">{{ _('등록이 완료되었습니다.') }}</p>
    </div>
{% endblock %}