{% extends 'base.html' %}

{% block media %}
<link rel="stylesheet" href="{{ static('term.css') }}">
{% endblock %}

{% block title_row %}
    {% set tab = 'term-three' %}
    {% include "term/term-tabs.html" %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="chapter">
        <div class="chapter-title"><h2>제3장 계약 당사자의 의무</h2></div>
        <div class="chapter-detail">
            <div class="article">
                <div class="article-title"><h3>제12조 (서비스 제공자의 의무)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 관련 법령을 준수하고, 이 약관이 정하는 권리의 행사와 의무의 이행을 신의에 따라 성실하게 합니다.<br>
                    ② 서비스 제공자는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보 보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다. 서비스 제공자는 이 약관 및 개인정보취급방침에서 정한 경우를 제외하고는 회원의 개인정보가 제3자에게 공개 또는 제공되지 않도록 합니다.<br>
                    ③ 서비스 제공자는 계속적이고 안정적인 서비스의 제공을 위하여 서비스 개선을 하던 중 설비에 장애가 생기거나 데이터 등이 멸실된 때에는 천재지변, 비상사태, 현재의 기술로는 해결이 불가능한 결함 및 장애 등 부득이한 사유가 없는 한 지체 없이 이를 수리 또는 복구하도록 최선의 노력을 다합니다.                
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제13조 (회원의 의무)</h3></div>
                <div class="article-detail">
                    ① 회원은 다음 행위를 하여서는 안 됩니다.<br>
                    <div class="detail">
                        1. 신청 또는 변경 시 허위내용의 기재<br>
                        2. 타인의 정보도용<br>
                        3. 서비스 제공자의 일원, 운영자, 기타 관계자를 사칭하는 행위<br>
                        4. 서비스 제공자가 게시한 정보의 변경<br>
                        5. 서비스 제공자가 금지한 정보(컴퓨터 프로그램 등)의 송신 또는 게시<br>
                        6. 서비스 제공자가 제공 또는 승인하지 아니한 컴퓨터 프로그램이나 기기 또는 장치를 제작, 배포, 이용, 광고하는 행위<br>
                        7. 서비스 제공자와 기타 제3자의 저작권 등 지적재산권에 대한 침해<br>
                        8. 서비스 제공자 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br>
                        9. 외설 또는 폭력적인 말이나 글, 화상, 음향, 기타 공서양속에 반하는 정보를 공개 또는 게시하는 행위<br>
                        10. 데이터(계정, 소스 코드 등)를 유상 혹은 무상으로 처분(양도, 매매 등)하거나 권리의 객체(담보제공, 대여 등)로 하는 행위<br>
                        11. 10호의 행위를 유도하거나 광고하는 행위<br>
                        12. 서비스 제공자의 동의 없이 영리, 영업, 광고, 정치활동 등을 목적으로 서비스를 사용하는 행위<br>
                        13. 기타 관련 법령에서 금지하거나 선량한 풍속 기타 사회통념상 허용되지 않는 행위<br>
                    </div>
                    ② 회원은 이 약관의 규정, 이용안내 및 서비스와 관련하여 공지한 주의사항, 서비스 제공자가 통지하는 사항 등을 확인하고 준수할 의무가 있습니다.<br>
                    ③ 서비스 제공자는 제1항, 제2항 및 다음 각 호의 어느 하나에 해당하는 행위의 구체적인 유형을 운영정책에서 정할 수 있으며, 회원은 이를 준수할 의무가 있습니다.<br>
                    <div class="detail">
                        1. 서비스 제공자의 계정명, 아이디 등에 대한 제한<br>
                        2. 콘텐츠 내용과 방법에 대한 제한<br>
                        3. 게시판이용에 대한 제한<br>
                        4. 서비스 이용 방법에 대한 제한<br>
                        5. 기타 회원의 서비스 이용에 대한 본질적 권리를 침해하지 않는 범위내에서 서비스 제공자가 서비스 운영상 필요하다고 인정되는 사항
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}