{% extends 'base.html' %}

{% block media %}
<link rel="stylesheet" href="{{ static('term.css') }}">
{% endblock %}

{% block title_row %}
    {% set tab = 'term-six' %}
    {% include "term/term-tabs.html" %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="chapter">
        <div class="chapter-title"><h2>제6장 손해배상 및 환불 등</h2></div>
        <div class="chapter-detail">
            <div class="article">
                <div class="article-title"><h3>제27조 (손해배상)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자가 고의 또는 중과실로 회원에게 손해를 끼친 경우, 손해에 대하여 배상할 책임이 있습니다.<br>
                    ② 회원이 본 약관을 위반하여 서비스 제공자에 손해를 끼친 경우, 회원은 서비스 제공자에 대하여 그 손해에 대하여 배상할 책임이 있습니다.                
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제28조 (서비스 제공자의 면책)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 전시, 사변, 천재지변, 비상사태, 현재의 기술로는 해결이 불가능한 기술적 결함 기타 불가항력적 사유로 서비스를 제공할 수 없는 경우에는 책임이 면제됩니다.<br>
                    ②서비스 제공자는 회원의 귀책사유로 인한 서비스의 중지, 이용장애 및 계약해지에 대하여 책임이 면제됩니다.<br>
                    ③서비스 제공자는 기간통신 사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 회원에게 손해가 발생한 경우에 대해서 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ④서비스 제공자는 사전에 공지된 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 서비스가 중지되거나 장애가 발생한 경우에 대해서 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ⑤서비스 제공자는 회원의 컴퓨터 환경으로 인하여 발생하는 제반 문제 또는 서비스 제공자의 고의 또는 중대한 과실이 없는 네트워크 환경으로 인하여 발생하는 문제에 대해서 책임이 면제됩니다.<br>
                    ⑥서비스 제공자는 회원 또는 제3자가 서비스 내 또는 웹사이트 상에 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 대해서는 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ⑦서비스 제공자는 회원 상호간 또는 회원과 제3자간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.<br>
                    ⑧서비스 제공자가 제공하는 서비스 중 무료서비스의 경우에는 서비스 제공자의 고의 또는 중대한 과실이 없는 한 서비스 제공자는 손해배상을 하지 않습니다.<br>
                    ⑨본 서비스 중 일부의 서비스는 다른 사업자가 제공하는 서비스를 통하여 제공될 수 있으며, 서비스 제공자는 다른 사업자가 제공하는 서비스로 인하여 발생한 손해 등에 대해서는 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ⑩서비스 제공자는 회원이 서비스를 이용하며 기대하는 결과를 얻지 못하거나 상실한 것에 대하여 책임을 지지 않으며, 서비스에 대한 취사선택 또는 이용으로 발생하는 손해 등에 대해서 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ⑪서비스 제공자는 회원의 데이터 손실에 대하여 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ⑫서비스 제공자는 회원의 컴퓨터 오류에 의한 손해가 발생한 경우 또는 신상정보 및 전자우편주소를 부정확하게 기재하거나 미기재하여 손해가 발생한 경우에 대하여 서비스 제공자의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.<br>
                    ⑬서비스 제공자는 관련 법령, 정부 정책 등에 따라 서비스 또는 회원에 따라 제1조와 12조에 준하는 내용 이외의 서비스 이용 중 발생하는 모든 사항에 대해 중대한 손해를 야기하지 않은 경우에 대해서는 책임이 면제됩니다. 중대한 손해의 규모는 서비스 제공자가 관련 법령 등 적절한 내용에 근거하여 직접 규정할 수 있습니다.
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제29조 (재판권 및 준거법)</h3></div>
                <div class="article-detail">
                    본 약관은 대한민국 법률에 따라 규율되고 해석되며, 서비스 제공자와 회원간에 발생한 분쟁으로 소송이 제기되는 경우, 법령에 정한 절차에 따른 법원을 관할 법원으로 합니다.              
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}