{% extends 'base.html' %}

{% block media %}
<link rel="stylesheet" href="{{ static('term.css') }}">
{% endblock %}

{% block title_row %}
    {% set tab = 'term-five' %}
    {% include "term/term-tabs.html" %}
{% endblock %}

{% block body %}
<div class="content">
    <div class="chapter">
        <div class="chapter-title"><h2>제5장 계약 해제·해지 및 이용제한</h2></div>
        <div class="chapter-detail">
            <div class="article">
                <div class="article-title"><h3>제21조 (회원의 해제 및 해지)</h3></div>
                <div class="article-detail">
                    ① 회원은 서비스 이용계약을 해지(이하 '회원탈퇴'라 한다)할 수 있습니다. 회원이 회원탈퇴를 신청한 경우 서비스 제공자는 회원 본인 여부를 확인할 수 있으며, 해당 회원이 본인으로 확인되는 경우에 회원의 신청에 따른 조치를 취합니다.<br>
                    ② 회원이 회원탈퇴를 원하는 경우에는 서비스 제공자가 제공하는 방법에 대한 절차를 통하여 회원탈퇴를 할 수 있습니다.                
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제22조 (서비스 제공자의 해제 및 해지)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 회원이 이 약관에서 정한 회원의 의무를 위반한 경우에는 회원에 대한 사전 통보 후 계약을 해지할 수 있습니다. 다만, 회원이 현행법 위반 및 고의 또는 중대한 과실로 서비스 제공자에 손해를 입힌 경우에는 사전 통보 없이 이용계약을 해지할 수 있습니다.<br> 
                    ② 서비스 제공자가 이용계약을 해지하는 경우 서비스 제공자는 회원에게 서면, 전자우편 또는 이에 준하는 방법으로 다음 각 호의 사항을 회원에게 통보합니다.<br>
                    <div class="detail">
                        1. 해지사유<br>
                        2. 해지일<br>
                    </div>
                    ③ 제1항 단서의 경우, 회원은 서비스의 사용권한을 상실하고 이로 인한 손해배상을 청구할 수 없습니다.
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제23조 (회원에 대한 서비스 이용제한)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 회원에게 다음 각 호의 구분에 따라 회원의 서비스 이용을 제한할 수 있습니다. 이용제한이 이루어지는 구체적인 회원의 의무위반 사유는 제27조에 따라 개별 서비스스의 운영정책에서 정하기로 합니다.<br>
                    <div class="detail">
                        1. 계정 이용제한 : 일정기간 또는 영구히 회원 계정의 이용을 제한<br>
                        2. 회원 이용제한 : 일정기간 또는 영구히 회원의 서비스 이용을 제한<br>
                    </div>
                   ② 서비스 제공자의 이용제한이 정당한 경우에 서비스 제공자는 이용제한으로 인하여 회원이 입은 손해를 배상하지 않습니다.             
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제24조 (잠정조치로서의 이용제한)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 다음 각 호에 해당하는 문제에 대한 조사가 완료될 때까지 계정을 정지할 수 있습니다.<br>
                    <div class="detail">
                        1. 계정이 해킹 또는 도용당하였다는 정당한 신고가 접수된 경우<br>
                        2. 불법프로그램 사용자, 작업장 등 위법행위자로 합리적으로 의심되는 경우<br>
                        3. 그 밖에 위 각호에 준하는 사유로 계정의 잠정조치가 필요한 경우 <br>
                    </div>
                   ② 제1항의 경우 서비스 제공자는 조사가 완료된 후 회원에 서비스 제공을 재개합니다. 다만, 제1항에 의한 위법행위자로 판명된 경우에는 그러하지 아니합니다.    
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제25조 (이용제한의 사유와 절차)</h3></div>
                <div class="article-detail">
                    ① 서비스 제공자는 위반행위의 내용, 정도, 횟수, 결과 등 제반사정을 고려하여 이용제한이 이루어지는 구체적인 사유 및 절차를 운영정책으로 정합니다.<br>
                    ② 회원이 제23조에서 정한 이용제한을 하는 경우에는 회원에게 서면 또는 전자우편 등에 게재하는 방법으로 다음 각 호의 사항을 회원에게 통보합니다.<br>
                    <div class="detail">
                        1. 이용제한 사유<br>
                        2. 이용제한 유형 및 기간<br>
                        3. 이용제한에 대한 이의신청 방법 
                    </div>
                </div>
            </div>
            <div class="article">
                <div class="article-title"><h3>제26조 (이용제한에 대한 이의신청 절차)</h3></div>
                <div class="article-detail">
                    ① 회원이 서비스 제공자의 이용제한에 불복하고자 할 때에는 통보를 받은 날로부터 15일 이내에 서비스 제공자의 이용제한에 불복하는 이유를 기재한 이의신청서를 서면, 전자우편 또는 이에 준하는 방법으로 서비스 제공자에 제출하여야 합니다. <br>
                    ② 제1항의 이의신청서를 접수한 서비스 제공자는 접수한 날로부터 15일 이내에 회원의 불복 이유에 대하여 서면, 전자우편 또는 이에 준하는 방법으로 답변하여야 합니다. 다만, 서비스 제공자는 15일 이내에 답변이 곤란한 경우 회원에게 그 사유와 처리일정을 통보합니다.<br>
                    ③ 서비스 제공자는 위 답변 내용에 따라 상응하는 조치를 취하여야 합니다.          
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}